@font-face {
  font-family: 'AbrilFatface';
  src: local('AbrilFatface'), url(./fonts/AbrilFatface-Regular.ttf) format('opentype');
}

body {
  background-image: url('./images/techcarewallpaper3.jpg');
  overflow-x: hidden;
  overflow-y: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'AbrilFatface';
}


.email {
  color:white;
  font-size:130%;
}

.password {
  color:white;
  font-size:130%;
}

.logo {
  background-image: url('./images/techcarelogo.png');
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.form {
  box-shadow: inset 0 15px 25px rgba(0,0,0,0.5);
  backdrop-filter: blur(10px);
}

.input {
  color: white;
}